.center {
text-align: center
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #04AA6D;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}

.licenza {
   position: fixed;
   heigth: 100%;
   left: 0;
   bottom: 0;
}

#alumnado {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#alumnado td, #alumnado th {
  border: 1px solid #ddd;
  padding: 8px;
}

#alumnado tr:nth-child(even){background-color: #f2f2f2;}

#alumnado tr:hover {background-color: #ddd;}

#alumnado th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

 